.news-homepage__navigator {
  background-color: var(--Very-dark-blue);
  padding: 2rem 1.3rem;
}

.news-homepage__navigator h2 {
  color: var(--Soft-orange);
  font-size: 1.6rem;
}

.news-homepage__navigator nav {
  margin-top: 3rem;
}

.highlighted-text {
  color: var(--Off-white);
  display: block;
  font-size: 1.06rem;
  margin-bottom: 1rem;
  font-family: "Inter-ExtraBold";
  transition: color 0.2s ease-in-out;
}

.highlighted-text:hover {
  color: var(--Soft-orange);
}

.news-homepage__navigator a {
  color: var(--Dark-grayish-blue);
  line-height: 1.5;
  font-size: clamp(0.86rem, 1.5vw, 0.93rem);
}

hr {
  margin: 2.3rem 0;
  border-color: var(--Dark-grayish-blue);
}

@media screen and (min-width: 600px) {
  .news-homepage__navigator {
    grid-column: 3 / 4;
  }

  hr {
    margin: 1.7rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .news-homepage__navigator {
    grid-column: 3;
    padding: 2rem 1.5rem;
  }

  .news-homepage__navigator h2 {
    font-size: 2.6rem;
  }

  .news-homepage__navigator nav {
    margin-top: 2rem;
  }
  .highlighted-text {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
  }
  .news-homepage__navigator a {
    color: var(--Grayish-blue);
  }
}
