.news-homepage__introduction {
  row-gap: 2rem;
}

.news-homepage__introduction h1 {
  font-size: 2.5rem;
}

.news-homepage__description {
  color: var(--Dark-grayish-blue);
  line-height: 1.7;
  font-size: clamp(0.8rem, 4vw, 1rem);
}

.news-homepage__button {
  align-items: center;
  background-color: var(--Soft-red);
  display: flex;
  font-size: clamp(0.8rem, 1.5vw, 0.95rem);
  height: 3rem;
  justify-content: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 11.3rem;
}

.news-homepage__button:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
}

@media screen and (min-width: 600px) {
  .news-homepage__introduction {
    grid-template-columns: none;
    grid-column: 1 / 4;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .news-homepage__introduction h1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main-image {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 205px;
    overflow: hidden;
  }

  .news-homepage__description {
    grid-row: 2 / 3;
    font-size: clamp(0.5rem, 2.6vw, 1.3rem);
  }

  .news-homepage__button {
    grid-row: 3;
  }
}

@media screen and (min-width: 1024px) {
  .news-homepage__introduction {
    grid-column: 1 / 3;
    column-gap: 0;
    row-gap: 0rem;
  }

  .main-image {
    grid-column: 1 / 4;
    grid-row: 1;
    height: auto;
  }

  .news-homepage__introduction h1 {
    grid-column: 1;
    grid-row: 2 / 4;
    font-size: 3rem;
    line-height: 1;
    width: 8ch;
  }

  .news-homepage__description {
    grid-row: 2;
    grid-column: 2 / 4;
    font-size: clamp(0.7rem, 1.6vw, 1.2rem);
  }

  .news-homepage__button {
    grid-row: 3;
    grid-column: 2 / 4;
  }
}

@media screen and (min-width: 1200px) {
  .news-homepage__introduction {
    column-gap: 4rem;
    row-gap: 2rem;
    font-size: clamp(0.8rem, 2.6vw, 1.2rem);
  }
  .main-image {
    max-width: 48.6rem;
  }
  .news-homepage__introduction h1 {
    font-size: 3.8rem;
  }
  .news-homepage__description {
    font-size: 1rem;
  }
}
