@import url("./header.css");
@import url("./newsHomepageIntroduction.css");
@import url("./newsHomepageNavigator.css");
@import url("./newsHomepageInfoLinks.css");

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/static/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/static/Inter-Bold.ttf");
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
}

.main-menu li a,
.news-homepage__description,
.news-homepage__navigator a,
.news-item--text {
  font-family: "Inter-Regular";
}

.main-menu li a,
.news-homepage__button {
  color: var(--Very-dark-blue);
}

section,
.news-homepage__introduction,
.news-item,
.news-homepage__info-links {
  display: grid;
}

.main-menu,
ul {
  list-style: none;
}

.news-homepage__button,
.news-homepage__navigator h2,
.news-item h3 span {
  font-family: "Inter-Bold";
}

.news-homepage__introduction h1,
.highlighted-text,
.news-item h3 {
  font-family: "Inter-ExtraBold";
}

body {
  padding: 1.6rem 1rem 5.3rem;
  position: relative;
}

section {
  margin-top: 2.3rem;
  row-gap: 4.3rem;
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 600px) {
  section {
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  main {
    max-width: 69.5rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0;
  }
  main {
    padding-bottom: 8.5rem;
  }
  section {
    margin-top: 3.3rem;
  }
}
